body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #000;
}

.navbar-brand h3 {
  margin-left: 90px;
  font-weight: bold;
}

.navbar-light {
  opacity: 90%;
}

.navbar-light .navbar-nav {
  font-size: 20px;
  margin-right: 90px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  margin-right: 25px;
}

.navbar-light .navbar-nav .btn-login {
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #222831;
  color: #fff;
}

.header-home {
  padding: 250px 0;
  margin-top: -70px;
  background-image: url(../images/header2.png);
  background-size: cover;
}

.header-home h1 {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.header-home .btn-view-product {
  background-color: #222831;
  color: #ffffff;
  border-radius: 10px;
}

.header-home .btn-view-product:hover {
  background-color: #897853;
  color: #ffffff;
}

.section-category-heading h2 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
}

.section-category-heading p {
  margin-top: 20px;
  font-size: 22px;
}

.section-category-content {
  margin-top: 40px;
}

.section-category-content .card-category {
  background-size: cover;
  min-height: 368px;
  margin-bottom: 20px;
}

.section-category-content .card-category .category-name {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 160px;
}

.section-category-content .card-category .category-button .btn-category-detail {
  background-color: #222831;
  color: #fff;
  font-weight: bold;
  min-width: 177px;
  min-height: 50px;
  font-size: 18px;
  padding: 13px 31px 12px 30px;
  border-radius: 10px;
}

.section-category-content .card-category .category-button .btn-category-detail:hover {
  background-color: #fff;
  color: #000;
}

.section-benefit {
  padding-top: 30px;
  min-height: 400px;
  background-color: #FEFEFE;
}

.section-benefit .section-benefit-heading h2 {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
}

.section-benefit .section-benefit-heading p {
  font-size: 22px;
}

.section-benefit .row {
  margin-bottom: 100px;
}

.section-benefit .row .card-text-benefit {
  min-width: 300px;
  margin-top: 40px;
}

.section-benefit .row .card-text-benefit h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.section-benefit .row .card-text-benefit p {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}

.section-benefit .row .card-text-benefit .text-center .btn-saran {
  background-color: #222831;
  color: #fff;
  border-radius: 10px;
  width: 300px;
}

.section-blog .section-blog-heading h2 {
  font-size: 40px;
  font-weight: bold;
}

.section-blog .section-blog-heading p {
  font-size: 22px;
}

.section-blog .section-blog-content {
  margin-top: 20px;
}

.section-blog .section-blog-content .card-blog {
  min-height: 360px;
}

.section-blog .section-blog-content .card-blog .blog-name {
  font-size: 18px;
  font-weight: bold;
}

.section-blog .section-blog-content .card-blog .blog-date {
  font-size: 16px;
  font-weight: lighter;
}

.section-blog .section-blog-content .card-blog .blog-link-detail {
  margin-top: 10px;
}

.section-blog .section-blog-content .card-blog .blog-link-detail .blog-detail {
  text-decoration: none;
  font-weight: bold;
  color: #222831;
}

.section-blog .section-blog-content .btn-blog-content {
  width: 150px;
  background-color: #222831;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
}

.section-blog .section-blog-content .btn-blog-content:hover {
  background-color: #fff;
  color: #222831;
  border-color: #222831;
}

.section-footer {
  background-color: #c4c4c4;
  min-height: 95px;
}

.section-footer .text-footer h5 {
  font-size: 24px;
}

.header-product h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}

.header-product p {
  font-size: 20px;
}

.section-product {
  margin-top: 40px;
}

.section-product .btn-category {
  padding-top: 10px;
  width: 140px;
  height: 45px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
  border-color: #000;
}

.section-product .btn-category.active {
  background-color: #222831;
  color: #fff;
}

.section-product .btn-category:hover {
  background-color: #222831;
  color: #fff;
}

.card-product {
  min-height: 360px;
  margin-top: 30px;
  margin-bottom: -30px;
}

.card-product .product-name {
  font-weight: bold;
  font-size: 20px;
}

.card-product .product-price {
  font-size: 20px;
}

.card-product .product-button-detail .btn-product-detail {
  background-color: #222831;
  color: #fff;
  width: 250px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 20px;
}

.card-product .product-button-detail .btn-product-detail:hover {
  background-color: #fff;
  color: #000;
}

.btn-other {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border-color: #000;
}

.btn-other:hover {
  background-color: #000;
  color: #fff;
}

.section-reference {
  min-height: 300px;
  margin-top: 70px;
  background-color: #fefefe;
}

.section-reference .card-text-reference {
  min-width: 300px;
}

.section-reference .card-text-reference h2 {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.section-reference .card-text-reference p {
  font-size: 20px;
  text-align: center;
}

.section-reference .btn-reference .btn-reference-link {
  width: 250px;
  background-color: #222831;
  color: #fff;
  border-radius: 10px;
}

.section-reference .btn-reference .btn-reference-link:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.navbar-breadcrumb {
  margin-top: 20px;
}

.navbar-breadcrumb .breadcrumb {
  background-color: #fff;
  padding-left: 50px;
}

.navbar-breadcrumb .breadcrumb .breadcrumb-item i {
  margin-right: 10px;
}

.navbar-breadcrumb .breadcrumb .breadcrumb-item a {
  color: #000;
}

.section-product-detail {
  min-height: 400px;
  margin-left: 20px;
  margin-right: auto;
}

.section-product-detail .card-product-detail {
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;
  margin-right: auto;
}

.section-product-detail .card-product-detail .card-product-title h2 {
  text-align: left;
  font-weight: bold;
  font-size: 35px;
}

.section-product-detail .card-product-detail .card-product-resume .title-description {
  text-align: left;
  font-size: 20px;
}

.section-product-detail .card-product-detail .card-product-resume .description {
  width: 400px;
  font-size: 18px;
  text-align: justify;
}

.section-product-detail .card-product-detail .product-button {
  text-align: left;
}

.section-product-detail .card-product-detail .product-button .btn-product {
  background-color: #222831;
  color: #fff;
  font-weight: bold;
  width: 120px;
}

.section-product-description-full {
  min-height: 350px;
}

.section-product-description-full .card-description .product-description-title h2 {
  font-weight: bold;
  font-size: 30px;
}

.section-product-description-full .card-description .product-description-content p {
  text-align: justify;
}

.section-review {
  min-height: 300px;
}

.section-review .review-title h2 {
  font-weight: bold;
  font-size: 30px;
}

.section-review .card-review {
  background-color: #c4c4c4;
  min-height: 150px;
  border-radius: 50px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.section-review .card-review .card-review-name h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.section-review .card-review .card-review-content p {
  font-size: 18px;
  text-align: justify;
}

.section-review .btn-other {
  background-color: #222831;
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
}

.header-blog {
  margin-top: 30px;
}

.header-blog h1 {
  font-size: 40px;
  font-weight: bold;
}

.header-blog p {
  font-size: 20px;
}

.header-blog .search-form {
  min-width: 900px;
  height: 40px;
  padding-left: 30px;
}

.section-blog {
  margin-top: 20px;
}

.section-blog .card-blog {
  margin-top: 30px;
}

.section-blog .card-blog .card-blog-title h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

.section-blog .card-blog .card-blog-content p {
  font-size: 18px;
  text-align: justify;
}

.section-blog .card-blog .card-blog-date p {
  margin-top: -15px;
  font-size: 16px;
  font-weight: lighter;
}

.section-blog .card-blog .card-blog-detail {
  text-align: right;
  margin-top: -15px;
}

.section-blog .card-blog .card-blog-detail a {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.section-blog .btn-other {
  width: 150px;
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-blog .btn-other:hover {
  background-color: #000;
  color: #fff;
}

.section-about {
  min-height: 300px;
}

.section-about h1 {
  margin-top: 80px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.section-about p {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.section-team {
  background-color: #e6e6e6;
}

.section-team .section-team-heading h2 {
  padding-top: 40px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-team .card-team {
  border-color: black;
  border-radius: 10px;
  width: 270px;
  height: 360px;
}

.section-team .card-team .section-team-content img {
  margin-top: 45px;
}

.section-team .card-team .section-team-content h3 {
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
}

.section-team .card-team .section-team-content p {
  margin-top: 20px;
  font-size: 20px;
}

.section-suggestion .section-suggestion-heading h2 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
}

.section-suggestion .section-suggestion-heading p {
  font-size: 18px;
}

.section-suggestion .section-suggestion-form {
  min-height: 600px;
}

.section-suggestion .section-suggestion-form .card-form {
  margin-left: auto;
  margin-right: auto;
}

.section-suggestion .section-suggestion-form .card-form h3 {
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

.section-suggestion .section-suggestion-form .card-form form {
  margin-top: 40px;
}

.section-suggestion .section-suggestion-form .card-form form .btn-submit {
  background-color: #222831;
  color: #fff;
  width: 150px;
  border-radius: 10px;
}

.section-suggestion .section-suggestion-form .card-form form .btn-submit:hover {
  background-color: #fff;
  color: #222831;
  border-color: #222831;
}

.header-content-detail .image-content {
  width: 1345px;
  height: 500px;
}

.header-content-detail .heading-content h1 {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 40px;
  font-weight: bold;
}

.header-content-detail .heading-content .author {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}

.card-content {
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  margin-bottom: 30px;
}

.section-recommend {
  margin-top: 70px;
}

.section-recommend .recommend-heading h1 {
  font-size: 40px;
  font-weight: bold;
}

.section-recommend .recommend-heading p {
  font-size: 20px;
}

.section-recommend-form {
  margin-bottom: 100px;
}

.section-recommend-form .form-group {
  margin-left: 250px;
  margin-right: auto;
}

.section-recommend-form .btn-recommend {
  border-radius: 10px;
  margin-top: 30px;
  width: 200px;
  background-color: #222831;
  color: #fff;
}

.section-recommend-form .btn-recommend:hover {
  background-color: #fff;
  color: #000;
}

.section-guest-heading {
  margin-top: 50px;
}

.section-guest-heading .guest-heading-title {
  font-size: 40px;
  font-weight: bold;
}

.section-guest-heading .guest-heading-desc {
  font-size: 20px;
}

.section-list-guest {
  margin-top: 50px;
  min-height: 400px;
}

.section-list-guest .card {
  margin-left: auto;
  margin-right: auto;
}

.section-list-guest .card .card-header .card-title h4 {
  font-size: 20px;
  font-weight: bold;
}

.section-list-result {
  margin-bottom: 100px;
}
/*# sourceMappingURL=main.css.map */